*{
    box-sizing: border-box;

}
body,html {
    margin: 0;
}

#header-search{
    position: relative;
    margin:0 auto;
    width:1130px;
    height: 160px;
}
#header-search  h1{ /*자손 선택자*/
    width:222px;
    height: 51px;
    display:inline-block; /*한줄로 출력하기 위한 설정*/
    background-image: url(" https://s.pstatic.net/static/www/img/uit/2021/sp_main_bf79fd.png");
    background-position: 0 -158px;
    background-size: 444px 439px;
    background-repeat: no-repeat;
    /* background: url("https://s.pstatic.net/static/www/img/uit/2021/sp_main_bf79fd.png")  no-repeat 0 -158px /444px 439px; */
    /* background속성한 줄로 요약 */
    text-indent:101%;
    overflow: hidden;
    position:relative;
    top: 26px;
    right: 6px;
}
/* #header-search h1{ 자손 선택자
    width:222px;
} */

#header-search a{
    text-decoration: none;
    /* vertical-align: bottom; */
}

#header-search h2{
    display:none;
}
#header-search fieldset{
    width:473.99px;
    height:49.97px;
    display:inline-block; /*한줄로 출력하기 위한 설정*/
    margin-left: 7px;   
    padding: 13px 15px 13px 15px;
    border: 2px solid #03cf5d; /*hex16진수표기법*/
    vertical-align: bottom;
    position:relative;
}
#header-search fieldset input{
    border: none;
    padding: 0;
    margin: 0;
    outline:none; /*클릭했을 때 생기는 테두리 줄 없애기*/
    width: 444px;
    height: 24px;
    vertical-align: top;
}
#header-search fieldset button{
    width: 49.97px;
    height: 49.97px;
    border: none;
    padding: 0;
    background-color: #03cf5d;
    position: absolute;
    right:-52px;
    top:-2px;
}    
#search-img{
    width: 22px;
    height: 22px;
    background: url("https://s.pstatic.net/static/www/img/uit/2021/sp_main_bf79fd.png")  no-repeat -420px -184px / 444px 439px;
    display: inline-block; /*span의 기본설정이 inline이기 때문에 
크기 설정을 할 수 없음*/
    margin: 14px;/*margin을 남은 공간만큼 채움*/
}
#fixed{
    position:fixed;
    top: 50px;
    right: 50px;
    display: inline-block;
    width:100px;
    height:100px;
    border: 1px solid black;
    border-radius: 50px;
} 

.blind{
    position: absolute;
    overflow: hidden;
    clip: rect(0,0,0,0);
    margin: -10px;
    width: 1px;
    height: 1px;
}

.center-align{
    margin: 0 auto;
    width: 1130px;
}
#nav-div{
    position:relative;
    box-shadow: 0 0 3px 0 rgb(0,0,0, 30%)
}/*  박스 그림자 */
#nav-inner{
    position:relative;
    width:1130px;
    padding: 0 30px;
    margin: 0 auto;
}
#nav-group{
    position:relative;
    padding: 11px 270px 11px 0;

}
nav ul {
    margin:0px;
    padding:0px;
    list-style:none; /*앞에 점자 모양*/
    display: inline-block;
}
nav li {
    display:inline-block;
}

.mail-icon{
    background: url("https://s.pstatic.net/static/www/img/uit/2021/sp_main_bf79fd.png") -420px -279px /444px 439px no-repeat;
    margin: 3px 9px 0 0;
    width:21px;
    height:21px;
    vertical-align: top;
    display:inline-block;
}
.shop-nav{
    background: url("https://s.pstatic.net/static/www/img/uit/2021/sp_main_bf79fd.png") -420px -232px /444px 439px no-repeat;
    width:24px;
    height:20px;
    vertical-align: top;
    display:inline-block;
    text-indent: 101%;
    overflow:hidden;
    padding: 5px 0;
}
.shopli-nav{
    background: url("https://s.pstatic.net/static/www/img/uit/2021/sp_main_bf79fd.png") -202px -306px /444px 439px no-repeat;
    width:54px;
    height:20px;
    vertical-align: top;
    display:inline-block;
    text-indent: 101%;
    overflow:hidden;
    padding: 5px 0;
}
.TV-icon{
    background: url("https://s.pstatic.net/static/www/img/uit/2021/sp_main_bf79fd.png") -256px -212px /444px 439px no-repeat;
    margin: 9px 2px 0 0;
    width:12px;
    height:14px;
    vertical-align: top;
    display:inline-block;
}


li .nav-g {
    color:#03c75a;
}
div ul li a {
    text-decoration: none;
    font-size: 15px;
    line-height: 30px;
    font-weight: 700;
    letter-spacing: -0.3px;
    color:#202020;
    margin-left: 5px;
}
#svc-url{ /*검색창 상단부분*/
    /* float:right; */
    position: absolute;
    top:12px;
    right:27px;
}
#homepage{
    float: left;
    text-decoration: none;
    font-size:11px;
    color:#404040;
}
.homepage-icon{
    background:url("https://s.pstatic.net/static/www/img/uit/2021/sp_main_bf79fd.png") -373px -352px /444px 439px no-repeat;
    width:26px;
    height: 26px;
    display: inline-block;
    margin: -3px 0 0 3px;
    vertical-align: top;
}
.jrnaver{
    display: inline-block;
    width: 60px;
    height: 10px;
    background:url("https://s.pstatic.net/static/www/img/uit/2021/sp_main_bf79fd.png") -285px -267px /444px 439px no-repeat;    
    margin:3px;
    vertical-align: top;
    text-indent: 101%;
    overflow: hidden;
}
.happybean{
    display: inline-block;
    width: 34px;
    height: 11px;
    background:url("https://s.pstatic.net/static/www/img/uit/2021/sp_main_bf79fd.png") -380px -199px /444px 439px no-repeat;    
    margin:3px 3px 2px;
    vertical-align: top;
    text-indent: 101%;
    overflow: hidden;
}
#bar {
    float:left;
    width:1px;
    height:10px;
    margin:3px 7px;
    background-color:#e4e8eb;
}
#weather-pop{
    position:absolute;
    top:16px;
    right:250px;
}
.search-key {
    background: url("https://s.pstatic.net/static/www/img/uit/2021/sp_main_bf79fd.png") -322px -279px /444px 439px no-repeat;    
    width: 20px;
    height: 12px;
    position: absolute;
    top: 16px;
    right:34px;
    /* vertical-align: top; */
}
.search-history{
    background: url("https://s.pstatic.net/static/www/img/uit/2021/sp_main_bf79fd.png") -96px -296px /444px 439px no-repeat;
    width: 10px;
    height: 5px;
    position: absolute;
    top: 19px;
    right: 11px;
    /* vertical-align: top; */
}
#more-nav{
    text-decoration: none;
    font-size:12px;
    margin-left:17px;
    line-height: 30px;
    color:#202020;
}
.more-ico{
    background: url("https://s.pstatic.net/static/www/img/uit/2021/sp_main_bf79fd.png") -83px -296px /444px 439px no-repeat;
    height:7px;
    width:11px;
    position: absolute;
    top:23px;
    right:278px;
    margin-left: 7px;
}

main{
    display: inline-block;
    width:100%;
}
main .center-align{
    padding: 20px 30px; 
    width: 1190px;
}

#main-ad {
    display: inline-block;
    width: 750px;
    height: 135px;
    background: #dae1e6;
    vertical-align: top;
}

#main-log {
    display: inline-block;
    width: 350px;
    height: 135px;
    background: #dae1e6;
    vertical-align: top;
}

#main-headline {
    display: inline-block;
    width: 750px;
    height: 49px;
    background: #8bc5ee;
    vertical-align: top;
}
#main-financial {
    display: inline-block;
    width: 350px;
    height: 49px;
    background: #8bc5ee;
    vertical-align: top;
}
#main-newslist {
    display: inline-block;
    width: 750px;
    height: 318px;
    background: #8bc5ee;
    vertical-align: top;
}

#main-subad {
    display: inline-block;
    width: 350px;
    height: 318px;
    background: #8bc5ee;
    vertical-align: top;
}

#main-playzn {
    display: inline-block;
    width: 750px;
    height: 2000px;
    background: #c35dff;
    vertical-align: top;
}
#main-shoppingpop {
    display: inline-block;
    width: 350px;
    height: 2000px;
    background: #c35dff;
    vertical-align: top;
}
#main-footad {
    display: inline-block;
    width: 1130px;
    height: 135px;
    background: #ffa631;
    vertical-align: top;
}