*{
    box-sizing: border-box;

}
body,html {
    margin: 0;
}
#header-search{
    position: relative;
    margin:0 auto;
    width:1130px;
    height: 160px;
}
#header-search  h1{ /*자손 선택자*/
    width:222px;
    height: 51px;
    display:inline-block; /*한줄로 출력하기 위한 설정*/
    background-image: url(" https://s.pstatic.net/static/www/img/uit/2021/sp_main_bf79fd.png");
    background-position: 0 -158px;
    background-size: 444px 439px;
    background-repeat: no-repeat;
    /* background: url("https://s.pstatic.net/static/www/img/uit/2021/sp_main_bf79fd.png")  no-repeat 0 -158px /444px 439px; */
    /* background속성한 줄로 요약 */
    text-indent:101%;
    overflow: hidden;
    position:relative;
    top: 27px;
    right: 9px;
}
/* #header-search h1{ 자손 선택자
    width:222px;
} */

#header-search a{
    text-decoration: none;
    /* vertical-align: bottom; */
}

#header-search h2{
    display:none;
}
#header-search fieldset{
    width:586px;
    height:56px;
    display:inline-block; /*한줄로 출력하기 위한 설정*/
    margin: 0 0 -10px 10px;   
    padding: 13px 15px 13px 15px;
    border: 2px solid #03cf5d; /*hex16진수표기법*/
    vertical-align: bottom;
    position:relative;
}
#header-search fieldset input{
    border: none;
    padding: 0;
    margin: 0;
    outline:none; /*클릭했을 때 생기는 테두리 줄 없애기*/
    width: 444px;
    height: 24px;
    vertical-align: top;
}
#header-search fieldset button{
    width: 56px;
    height: 56px;
    border: none;
    padding: 0;
    background-color: #03cf5d;
    position: absolute;
    right:-2px;
    top:-2px;
}    
#search-img{
    width: 22px;
    height: 22px;
    background: url("https://s.pstatic.net/static/www/img/uit/2021/sp_main_bf79fd.png")  no-repeat -420px -184px / 444px 439px;
    display: inline-block; /*span의 기본설정이 inline이기 때문에 
크기 설정을 할 수 없음*/
    margin: 14px;/*margin을 남은 공간만큼 채움*/
}
#fixed{
    position:fixed;
    top: 50px;
    right: 50px;
    display: inline-block;
    width:100px;
    height:100px;
    border: 1px solid black;
    border-radius: 50px;
} 

.blind{
    position: absolute;
    overflow: hidden;
    clip: rect(0,0,0,0);
    margin: -10px;
    width: 1px;
    height: 1px;
}

.center-align{
    margin: 0 auto;
    width: 1130px;
}
#nav-div{
    position:relative;
    box-shadow: 0 0 3px 0 rgb(0,0,0, 30%)
}/*  박스 그림자 */
#nav-inner{
    position:relative;
    width:1130px;
    padding: 0 30px 0 0;
    margin: 0 auto;
}
#nav-group{
    position:relative;
    padding: 11px 270px 11px 0;

}
nav ul {
    margin:0px;
    padding:0px;
    list-style:none; /*앞에 점자 모양*/
    display: inline-block;
}
nav li {
    display:inline-block;
}

.mail-icon{
    background: url("https://s.pstatic.net/static/www/img/uit/2021/sp_main_bf79fd.png") -420px -279px /444px 439px no-repeat;
    margin: 3px 9px 0 0;
    width:21px;
    height:21px;
    vertical-align: top;
    display:inline-block;
}
.shop-nav{
    background: url("https://s.pstatic.net/static/www/img/uit/2021/sp_main_bf79fd.png") -420px -232px /444px 439px no-repeat;
    width:24px;
    height:20px;
    vertical-align: top;
    display:inline-block;
    text-indent: 101%;
    overflow:hidden;
    padding: 5px 0;
}
.shopli-nav{
    background: url("https://s.pstatic.net/static/www/img/uit/2021/sp_main_bf79fd.png") -202px -306px /444px 439px no-repeat;
    width:54px;
    height:20px;
    vertical-align: top;
    display:inline-block;
    text-indent: 101%;
    overflow:hidden;
    padding: 5px 0;
}
.TV-icon{
    background: url("https://s.pstatic.net/static/www/img/uit/2021/sp_main_bf79fd.png") -256px -212px /444px 439px no-repeat;
    margin: 9px 2px 0 0;
    width:12px;
    height:14px;
    vertical-align: top;
    display:inline-block;
}


#nav-group ul li .nav-g {
    color:#03c75a;
}
#nav-group ul li a {
    text-decoration: none;
    font-size: 15px;
    line-height: 30px;
    font-weight: 700;
    letter-spacing: -0.3px;
    color:#202020;
    margin-left: 5px;
}
#svc-url{ /*검색창 상단부분*/
    /* float:right; */
    position: absolute;
    top:12px;
    right:27px;
}
#homepage{
    float: left;
    text-decoration: none;
    font-size:11px;
    color:#404040;
}
.homepage-icon{
    background:url("https://s.pstatic.net/static/www/img/uit/2021/sp_main_bf79fd.png") -373px -352px /444px 439px no-repeat;
    width:26px;
    height: 26px;
    display: inline-block;
    margin: -3px 0 0 3px;
    vertical-align: top;
}
.jrnaver{
    display: inline-block;
    width: 60px;
    height: 10px;
    background:url("https://s.pstatic.net/static/www/img/uit/2021/sp_main_bf79fd.png") -285px -267px /444px 439px no-repeat;    
    margin:3px;
    vertical-align: top;
    text-indent: 101%;
    overflow: hidden;
}
.happybean{
    display: inline-block;
    width: 34px;
    height: 11px;
    background:url("https://s.pstatic.net/static/www/img/uit/2021/sp_main_bf79fd.png") -380px -199px /444px 439px no-repeat;    
    margin:3px 3px 2px;
    vertical-align: top;
    text-indent: 101%;
    overflow: hidden;
}
#bar {
    float:left;
    width:1px;
    height:10px;
    margin:3px 7px;
    background-color:#e4e8eb;
}
#weather-pop{
    position:absolute;
    top:16px;
    right:0px;
    width:198px;
    height:20px;
}
#weather-pop a{
    text-decoration: none;
    color:#202020;
}


.search-key {
    background: url("https://s.pstatic.net/static/www/img/uit/2021/sp_main_bf79fd.png") -322px -279px /444px 439px no-repeat;    
    width: 20px;
    height: 12px;
    position: absolute;
    top: 20px;
    right:90px;
    /* vertical-align: top; */
}
.search-history{
    background: url("https://s.pstatic.net/static/www/img/uit/2021/sp_main_bf79fd.png") -96px -296px /444px 439px no-repeat;
    width: 10px;
    height: 5px;
    position: absolute;
    top: 24px;
    right: 68px;
    /* vertical-align: top; */
}
#more-nav{
    text-decoration: none;
    font-size:12px;
    margin-left:17px;
    line-height: 30px;
    color:#202020;
}
.more-ico{
    background: url("https://s.pstatic.net/static/www/img/uit/2021/sp_main_bf79fd.png") -83px -296px /444px 439px no-repeat;
    height:7px;
    width:11px;
    position: absolute;
    top:23px;
    right:278px;
    margin-left: 7px;
}

main{
    display: inline-block;
    width:100%;
}
main .center-align{
    padding: 20px 30px; 
    width: 1190px;
}

.main-divinline{
    display:inline-block;
    width:100%;
    vertical-align: top;
}

#main-ad {
    width: 750px;
    height: 135px;
    background: #dae1e6;
    vertical-align: top;
    float:left;/*간격을 붙이기위함 */ 
}

#main-log {
    width: 348px;
    height: 135px;
    /* background: #dae1e6; */
    vertical-align: top;
    float:left;/*간격을 붙이기위함 */
    margin: 0 0 12px 32px; /*레이아웃 경계나누기*/
    border:1px solid #dae1e6;
}

#main-headline {
    width: 750px;
    height: 49px;
    /* background: #8bc5ee; */
    vertical-align: top;
    float:left;/*간격을 붙이기위함 */
    border:1px solid #dae1e6;
}
#main-financial {
    width: 348px;
    height: 49px;
    /* background: #8bc5ee; */
    vertical-align: top;
    float:left;/*간격을 붙이기위함 */
    margin: 0 0 12px 32px; /*레이아웃 경계나누기*/
    border:1px solid #dae1e6;
}
#main-newstitle{
    width:750px;
    height:18px;
    /* background: #8bc5ee; */
    vertical-align: top;
    float:left;
    margin: 22px 0 16px 0;    
    position:relative;
}
#main-newslist {
    width: 750px;
    height: 260px;
    /* background: #8bc5ee; */
    vertical-align: top;
    float:left;/*간격을 붙이기위함 */
}
#main-subad {
    width: 348px;
    height: 200px;
    /* background: #8bc5ee; */
    vertical-align: top;
    float:left;/*간격을 붙이기위함 */
    margin: 0 0 15px 32px; /*레이아웃 경계나누기*/
}

#main-playzn {
    width: 750px;
    height: 2000px;
    /* background: #c35dff; */
    vertical-align: top;
    float:left;/*간격을 붙이기위함 */
}
#main-shoppingpop {
    width: 348px;
    height: 2089px;
    /* background: #c35dff; */
    vertical-align: top;
    float:left;/*간격을 붙이기위함 */
    margin: 0 0 14px 32px; /*레이아웃 경계나누기*/
}
#main-footad {
    display: inline-block;
    width: 1130px;
    height: 135px;
    background: #ffa631;
    vertical-align: top;
}
#main-newdiv{
    width:750px;
    vertical-align: top;
    float:left;
}
#main-sideaddiv{
    width:380px;
    vertical-align: top;
    float:left;
}

#main-headline h5, #main-headline ol{
    display:inline-block;
    /*여기서 부터는 세부맞춰주기 위한 속성*/
    vertical-align: top;
    margin:14px 10px;
    font-size:12px;
    padding:0;
}
.news-ico{
    background: url("https://s.pstatic.net/static/www/img/uit/2021/sp_main_bf79fd.png") 0px -396px /444px 439px no-repeat;
    width: 27px;
    height: 24px; 
    position: absolute;
    top:-4px;
    right:720px;
}
#main-newstitle h5{
    display:inline-block;
    /*여기서 부터는 세부맞춰주기 위한 속성*/
    margin:0 0 0 24px;
}
#main-newslist ul{
    margin:0;
    padding: 0;
    list-style: none;
    display: inline-block;
}
#main-newslist li{
    float:left;
    width:calc(750px / 6);
    height:65px;
    border:0.5px solid #e6eef3;
    position:relative; /*정렬을 위한 position*/
}
#main-newslist img{
    height: 20px;
    position:absolute;
    /*세로 중간맞춤*/
    right:50%;/*li의 세로의 반절만큼 이동*/
    /*가로 중간맞춤*/
    top:50%;/*li의 가로의 반절만큼 이동*/
    transform: translate(50%,-50%);
    /*img자신의 가로세로 반절만큼 이동*/
}
#main-financial h5{
    display: inline-block;
    margin: 14px ;
    padding:0;
}

#main-playzn h4 {
    display: inline-block;
    margin: 35px 15px 27px 0px;
    padding:0;
}

#main-playzn ul{
    margin:0;
    padding:0;
    list-style:none;
    display:inline-block;
    width:100%;
}
#main-playzn li{
    font-size: 13px;
    float:left;
    height:49px;
    width:calc(750px / 8);
    border:1px solid #dae1e6;
    position:relative;
}
#main-playzn a{
    padding:0;
    margin:0;
    text-decoration: none;
    position:absolute;
    top:50%;
    right:50%;
    transform:translate(50%,-50%);
    color:#202020;
 }
#weather-pop ul{
    display: none;
    list-style: none;
    padding:0;
    margin:0;
    width: 200px;
    height: 70px;
    border: 0.5px solid #dae1e6;
    background-color: #ffffff;
    position: absolute;
    top:-2px;
    right:8px;
    text-align: center;
    z-index: 100;
}
#weather-pop:hover ul{
    display:inline-block;
}
.pop-title{
    display: inline-block;
    color:#03c75a;

 }
 .pop-content{
     display: inline-block;
     color:#03c75a;
 }
 /* #z-indexex{
    width:100px;
    height:100px;
    background-color: #03c75a;
    position:absolute;
    z-index: 30;
}
#z-innerex{
    width:50px;
    height:50px;
    background-color: #dfff2a;
    position:absolute;
    z-index: 10000;
} */