*{
    box-sizing: border-box;
}
#header-center{
    margin:0 auto;
    width:1130px;
}
#header-search  h1{ /*자손 선택자*/
    width:222px;
    height: 51px;
    display:inline-block; /*한줄로 출력하기 위한 설정*/
    background-image: url(" https://s.pstatic.net/static/www/img/uit/2021/sp_main_bf79fd.png");
    background-position: 0 -158px;
    background-size: 444px 439px;
    background-repeat: no-repeat;
    /* background: url("https://s.pstatic.net/static/www/img/uit/2021/sp_main_bf79fd.png")  no-repeat 0 -158px /444px 439px; */
    /* background속성한 줄로 요약 */
    text-indent:101%;
    overflow: hidden;
    position:relative;
    top: -3px;
    right: -9px;
}
/* #header-search h1{ 자손 선택자
    width:222px;
} */

#header-search a{
    text-decoration: none;
    vertical-align: middle;
}

#header-search h2{
    display:none;
}
#header-search fieldset{
    width:473.99px;
    height:49.97px;
    display:inline-block; /*한줄로 출력하기 위한 설정*/
    margin-left: 20px;
    padding: 13px 15px 13px 15px;
    border: 2px solid #03cf5d; /*hex16진수표기법*/
    vertical-align: middle;
    position:relative;
}
#header-search fieldset input{
    border: none;
    padding: 0;
    margin: 0;
    outline:none; /*클릭했을 때 생기는 테두리 줄 없애기*/
    width: 444px;
    height: 24px;
    vertical-align: top;
}
#header-search fieldset button{
    width: 49.97px;
    height: 49.97px;
    border: none;
    padding: 0;
    background-color: #03cf5d;
    position: absolute;
    right:-2px;
    top:-2px;
}    
#search-img{
    width: 22px;
    height: 22px;
    background: url("https://s.pstatic.net/static/www/img/uit/2021/sp_main_bf79fd.png")  no-repeat -420px -184px / 444px 439px;
    display: inline-block; /*span의 기본설정이 inline이기 때문에 
크기 설정을 할 수 없음*/
    margin: 14px;/*margin을 남은 공간만큼 채움*/
}


.blind{
    position: absolute;
    overflow: hidden;
    clip: rect(0,0,0,0);
    margin: -10px;
    width: 1px;
    height: 1px;
}
